.containerBack{
    display :flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding-right: 1em;
    }

 .titulo{
    padding-right: 3em;
    color:rgb(88, 67, 163);
    margin: auto;   
    }
   
.buttonBack {
    width: 9rem;
    height: 1.9rem;
    font-weight:bold;
    cursor: pointer;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    border: none;
    background-color: darkgrey;
    border-radius: 1rem;
    color:rgb(88, 67, 163)
    
    
}
.buttonBack:hover {
    background-color:#1c7aa9eb
}

.contenedorDetails {
    display: grid;
    justify-content: center;
    text-align: center;
    margin:1.5rem auto; 
    width: 30rem;
    border-radius: 1rem;
    background-image: linear-gradient(178deg, #95f0dfb9 0%, #9face6d3 50%, #ffffffb9 100%);
    box-shadow: 0px 0px 15px 2px #000000;
    font-weight: bold;
    margin-bottom: 5rem;
    padding-top: .5rem;
  }  


.contenedorDetails2 {
    display: grid;
    grid-template-columns: auto auto   ;
    align-items: left;

}
.contenedorDetails2 > div {
    text-align: left;
    padding: 0.2rem ;
}

.imagenCard {
    width: 15rem  ;
    height: 15rem;
    background-color: rgba(46, 133, 151, 0.488);
    border-radius: 1rem
  }

.contenedorDelete {
    margin: 1.25rem auto;
    text-align: center;
}

.btnDelete {
    cursor: pointer;
    width: 9rem;
    height: 1.9rem;
    font-weight:bold;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 1rem;
    border: none;
    background-color: darkgrey;
    margin-left: auto;
}
.btnDelete:hover {
    background-color:#1589c384 
}
.cardDetail{
   display: flex;
   justify-content: space-around;
    align-content: center;
    font-size: large;
}