.formCrear {
    display: grid;
    flex-flow:column wrap; 
    align-content: stretch;
    align-items: flex-start;
    margin: 23.5px auto;
    width: 20rem;
    border-radius: 1.5rem;
    background-image: linear-gradient(178deg, #95f0dfb9 0%, #9face6bf 50%, #ffffff7d 100%);
    box-shadow: 0px 0px 15px 2px #000000;
    font-weight: bold;
     padding-top: 1rem; 
    padding-left: 2rem; 
    padding-bottom: 1rem; 
  justify-content: center;

}
.inputOtros{
    width:6em;
    font-size: medium;
    font-weight: bold;
    border-radius: 9px;
    
}

.buttonCrear {
    cursor: pointer;
    width: 10.5rem;
    height: 2rem;
    font-weight: bold;
    color:black;
    border-radius: 15px;
    border: none;
    transition: .3s; 
    background-color: darkgrey;
}

.buttonCrear:disabled {
    cursor: not-allowed;
    border: none;
}

.buttonCrear:not(:disabled):hover {
    background-color:#1589c384 
}
p.danger {
    color: red;
    /* font-size:1rem; */
   
  }
  
input.danger {
    border: 2px solid red;
    border-radius: 9px;
  }

.contenedorTypeSelected {
  display: flex;
  align-content: center;
  display: wrap;
  font-size: medium;
  font-weight: bold;
  justify-content: space-around;
  }
  .contenedortype{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .btnTypeSelected{
    border:none;
    border-radius:1rem;
    padding-left: 0.3rem;
    margin-left: 0.5rem;
    color: rgba(255, 0, 0, 0.677);
    background-color: rgb(141, 188, 220);
    font-weight: bold;
  }
  .btnTypeSelected:hover{
    background-color: rgb(226, 229, 232);
  }

.inputName{
    width: 15rem;
    font-size: medium;
    font-weight: bold;
    border-radius: 9px;
    
}
.containerBack{
    display :flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding-right: 1em;
   
    }
 .titulo{
    padding-right: 3em;
    color:rgb(88, 67, 163);
        margin: auto;
       
    }
   
.buttonBack {
    width: 9rem;
    height: 1.9rem;
    font-weight:bold;
    cursor: pointer;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    border-radius: 1rem;
    border: none;
    background-color: darkgrey;
    color:rgb(88, 67, 163)
    
    
}
.buttonBack:hover {
    background-color:#1c7aa9b5
}

.imagenCard {
    
        width: 10rem auto ;
        height: 10rem ;
        margin: 0em;
        
        padding: 0em;
         border-radius: 50px; 
        /* filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.916)); */
  }
  select:hover{
    width: 10em;
    background-color: aquamarine;
  }
