.buttonCrear {
    cursor: pointer;
    width: 10rem ;
    height: 1.9rem;
    font-weight: bold;
    color:rgb(57, 8, 238);
    border-radius: 15px;
    border: none;
    transition: .3s; 
    background-color: #1971c9d3;
}

.buttonCrear:not(:disabled):hover {
    background-color:#e3e6e6b9
}
.buttonCrear:disabled {
    border: 0.05px  rgba(102, 102, 103, 0.639);
    cursor: not-allowed;
   
}

.buttonSearch {
    cursor: pointer;
    width: 4rem ;
    height: 1.9rem;
    border-radius: 1rem;
    transition: .3s;
    border:none;
    background-color: darkgrey;
    font-weight: bold;
    color:rgb(88, 67, 163)
}

.buttonSearch:not(:disabled):hover {
    background-color: #e3e6e6b9
}
.icon{
    margin: none;
    background-color: rgba(255, 255, 255, 0.795);
    width: 1rem ;
    height:.8rem ;
    
  }
.buttonSearch:disabled {
    cursor: not-allowed;
    border: none;
}

.inputSearch {
    border: none;
    overflow: hidden;
    background-color: white;
    width: 12rem;
    height: 1.9rem;
     border-radius: 1rem; 

    color: black;
    
}
.inputSearch input{
   margin: 0.2em;
    text-align: Left;
    border:none;
   background-color: rgba(255, 255, 255, 0.795);
}
.input::placeholder {
    color: rgba(0, 0, 0, 0.767);
}

.inputSearch:focus {
    outline: none;
}

.contenedorSearchbar {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-evenly;
   padding-top: 0.5em;
   padding-bottom: 0.5em;

  
      
}

.contenedorButtonCrear {
   text-align: center;
   width: fit-content;
  
}
.contenedorButtonSearch{
   background-color:white;
   


}
.contenedorForm {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-around;
   
   
      
}
