
.contenedorPaginado {

padding: 0.5rem;
background-color: rgba(146, 154, 161, 0.585);


}
.pag_ul {
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:large;
 
}

.contenedorPaginado ul button {

  cursor: pointer;
  width: 7rem;
  height: 10rem;
  
  border-radius: 0.7rem;
  transition: .3s;

 

}

.btnActive {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: #faf60a;
  border: none;
}
.btnActive:not(:disabled):hover {
  background-color:#05b8b8b9
} 

.btnPagination
 {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem ;
  border-radius: 0.5rem;
  background-color: #ffcd0469;
  border: none;
}

.btnPagination:not(:disabled):hover {
  background-color:#05b8b8b9
}
.pag_a {
    align-items: center;
    font-size:medium;
  }


 