.contenedorFiltros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 1rem;
    padding: 1em;
    background-color: rgba(240, 248, 255, 0.574);
}


.contenedorFiltros select {
   width: 10rem;
    background-color:#8dafbe84 ;
    border :none;
    height: 1.6rem;
    border-radius: 1rem;
    
    font-weight: bold;
    color:rgb(88, 67, 163);
     text-align: left;
     
}
   
.contenedorFiltros select:hover {
    background-color:aliceblue ;
    font-weight:bold;
 }


.contenedorFiltros button {
    border-radius: 1rem ;
    border:none;
    height: 1.6rem;
    width: 10rem;
    text-align: center;
    
   
}
.buttonReset {
    cursor: pointer;
    width: 9rem;
    height: 1.9rem;
    font-weight: bold;
    color:rgb(88, 67, 163);
    text-align: left;
    border-radius: 1rem;
    border: none;
    transition: .3s; 
    background-color: darkgrey;
    cursor: pointer;
   
}
.buttonReset:hover {
    background-color:#1589c384 
 }
 
   
