
.contenedorCard {
      display: flex;
      flex-direction: column ;
      width: 15vw;
     height: 25vw;
     
      border: 1px solid var(--border-color);
   
      gap: 5rem;
      align-items: center;
      opacity: 10;
      align-content:space-around;
      
      background-image: linear-gradient(178deg, #95f0dfb9 0%, #9face6bf 50%, #ffffff7d 100%);
    
      border-radius: 1.5rem;
      font-size: medium;
      margin-left: 2rem;
     
    }



.contenedorCard:hover {
    background-image: linear-gradient(178deg, #95f0df92 0%, #94a0d6c6 50%, #ffffffca 100%);
}

.imagenCard {
    
    width: 160x auto ;
    height: 160px ;
    margin: 0em;
    
    padding: 0em;
     border-radius: 50px; 
    /* filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.916)); */
}

.nombreCard {
    text-align: center;
    margin:0em;
    padding: 0em
}

.typesCard {
   font-weight: bold;
   
    
}

.navlink {
    text-align: center;
    text-decoration: none;
    color: rgba(21, 3, 67, 0.569);
    margin: 0.05em;
}
