
.contenedorCard {
    /* width: 200px;
    max-height: 300px;
   
    border-radius: 50px;
    box-shadow: 0px 0px 15px 2px #000000;
    background-color: rgba(55,109,186, .5) */

      display: flex;
      flex-direction: column ;
     
      width :fit-content;
      border: 1px solid var(--border-color);

      align-items: center;
      opacity: 10;
      
      background-image: linear-gradient(178deg, #95f0df96 0%, #9face6a3 50%, #ffffff4f 100%);
    
      border-radius: 1rem;
      font-size: large;
     
      height: 0%;
    }



.contenedorCard:hover {
    filter: opacity(.7);
}

.imagenCard {
    
    width: 180px;
    max-height: 180px;
    margin: 0em;
    
    padding: 0;
    /* border-radius: 50px; */
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.916));
}

.nombreCard {
    text-align: center;
    margin: 0.15em ;
}

.typesCard {
    text-align: center;
    font-size: large;

    margin: 0.15em;
}

.navlink {
    text-align: center;
    text-decoration: none;
    color: rgba(21, 3, 67, 0.569);
    margin: 0.05em;
}