.contenedorPokemon {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.contenedorFiltros {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 16px 0;
}

.contenedorFiltros select {
    border-radius: 20px;
    border: 1px solid black;
}

.contenedorFiltros button {
    border-radius: 20px;
    border: 1px solid black;
    width: 55px;
}

.buttonReset {
    cursor: pointer;
    transition: .3s;
}

.buttonReset:hover {
    background-color: #ffcc04;
}
p.danger {
    color: red;
    font-size: 10px;
  }
  
input.danger {
    border: 2px solid red;
  }