.formCrear {
    display: flex;
      
    flex-flow:column wrap;
    align-content: stretch;
    align-items: flex-end;
  
   
    width: 20vw;
     margin-left : 26vw;
 
     background-color: rgba(0, 81, 255, 0.362);
     padding: 1em;
     font-size: medium;
     font-weight: bold;
}
.buttonCrear {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-weight: bold;
    color:black;
    border-radius: 15px;
    border: none;
    transition: .3s; 
    background-color: darkgrey;
}


.buttonCrear:disabled {
    cursor: not-allowed;
    border: none;
}

.buttonCreart:not(:disabled):hover {
    background-color:#1589c384 
}
p.danger {
    color: red;
    font-size: 15px;
  }
  
input.danger {
    border: 2px solid red;
  }

.contenedorTypeSelected {
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

input{
    width: 130px;
}
.containerBack{
    display :flex;
    
        background-color: aliceblue;
        
    }
 .titulo{
        margin-right: auto;
       
    }
   
.buttonBack {
    width: 140px;
    height: 30px;
    font-weight:bold;
    cursor: pointer;
    margin-top: 2em;
    border-radius: 15px;
    border: none;
    background-color: darkgrey;
    margin-left: auto;
    
    
}
.buttonBack:hover {
    background-color:#1c7aa9b5
}