.contenedorFiltros {
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 3em;
    padding: 1em;
    background-color: rgba(240, 248, 255, 0.574);
}


.contenedorFiltros select {
  
    background-color: white;
    border: 0.05px  rgb(109, 103, 103);
    height: 25px;
    border-radius: 15px;
    
    font-weight: bold;
    color:rgb(88, 67, 163);
     text-align: left;
     
}
   
.contenedorFiltros select:hover {
    background-color:#8dafbe84 ;
    font-weight:bold;
 }


.contenedorFiltros button {
    border-radius: 15px;
    border:none;
    height: 25px;
    
   
}
.buttonReset {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-weight: bold;
    color:rgb(88, 67, 163);
    text-align: left;
    border-radius: 15px;
    border: none;
    transition: .3s; 
    background-color: darkgrey;
    cursor: pointer;
   
}
.buttonReset:hover {
    background-color:#1589c384 
 }
 
   
