.paginado{
    display: inline;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.5);
    padding: 5px 12px;

    line-height: 2
}
.pag_a {
    float: center;
    font-size:30px;
   
   
  }
.pag_a:hover {
    border: 70px solid #2529fc84;
  border-radius: 50%;
}