
.contenedorPaginado {

padding: 0.15em;
background-color: rgba(146, 154, 161, 0.585)
}
.pag_ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px auto;
 
}

.contenedorPaginado ul button {
  cursor: pointer;
  width: 50px;

  height: 30px;

  text-align: center;
  border-radius: 10px;
  transition: .3s;

}




.btnActive {
  background-color: #faf60a;
  border: none;
}
.btnActive:not(:disabled):hover {
  background-color:#05b8b8b9
} 

.btnPagination
 {
  background-color: #ffcd0469;
  border: none;
}

.btnPagination:not(:disabled):hover {
  background-color:#05b8b8b9
}
.pag_a {
    align-items: center;
    font-size:medium;
  }


 