.buttonCrear {
    cursor: pointer;
    width: 130px;
    height: 30px;
    font-weight: bold;
    color:rgb(88, 67, 163);
    border-radius: 15px;
    border: none;
    transition: .3s; 
    background-color: darkgrey;
}

.buttonCrear:not(:disabled):hover {
    background-color:#e3e6e6b9
}
.buttonCrear:disabled {
    border: 0.05px  rgba(102, 102, 103, 0.639);
    cursor: not-allowed;
   
}

.buttonSearch {
    cursor: pointer;
    width: 62px;
    height: 30px;
    border-radius: 15px;
    transition: .3s;
    border:none;
    background-color: darkgrey;
    font-weight: bold;
    color:rgb(88, 67, 163)
}

.buttonSearch:not(:disabled):hover {
    background-color: #e3e6e6b9
}

.buttonSearch:disabled {
    cursor: not-allowed;
    border: none;
}

.inputSearch {
    border: 0;
    background-color: white;
    border: 0.05px  rgb(109, 103, 103);
    height: 25px;
    border-radius: 15px;
    
    color: black;
    text-align: center;
}

.inputSearch::placeholder {
    color: rgba(0, 0, 0, 0.767);
}

.inputSearch:focus {
    outline: none;
}

.contenedorSearchbar {
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding-top: 2em;
   padding-bottom: 1em;
}

.contenedorButtonCrear {
   text-align: center;
  
   width: fit-content;
   padding-left: 7em;
}

