.contenedorLanding {
    
    
   min-width:  100vh;
    text-align: center;
    color: rgb(30, 2, 103);
    /* background: url('https://thumbs.dreamstime.com/z/pokemon-va-bola-del-logotipo-dibujada-en-el-asfalto-74497548.jpg') 
    no-repeat center center fixed;  */
    opacity: (.7);
    
}

.contenedorLanding h1{
    width: auto;
  font-weight: bold;
  font-size: 4rem;  
}
.logo {
    width: 25rem;
    height: 10rem;
    margin-top: 10rem;
  
    border-radius: 10rem;
}

.btnIngresar {
    cursor: pointer;
    width: 12.5rem;
    height: 4rem;
    font-weight: bold;
    font-size: larger;
    color:rgb(242, 240, 248);
    border-radius: 1rem;
    border: none;
    transition: .3s; 
    background-color: rgba(57, 34, 174, 0.674);
}

.btnIngresar:hover {
    background-color:#e3e6e6b9;
    color:rgb(8, 60, 171)
}